body,
html {
  margin: 0;
  padding: 0;
  background-image: url("./assets/images/bg2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  overflow-x: hidden;
  opacity: 0.96;
}
